pipeline/E2E_spotify_pipeline.json
{
	"name": "E2E_spotify_pipeline",
	"properties": {
		"activities": [
			{
				"name": "ForEach",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "[\n  {\n    \"schema\" : \"dbo\",\n    \"table\" : \"DimUser\",\n    \"cdc_col\" : \"updated_at\",\n    \"from_date\" : \"\"\n  },\n  {\n    \"schema\" : \"dbo\",\n    \"table\" : \"DimTrack\",\n    \"cdc_col\" : \"updated_at\",\n    \"from_date\" : \"\"\n  },\n  {\n    \"schema\" : \"dbo\",\n    \"table\" : \"DimDate\",\n    \"cdc_col\" : \"date\",\n    \"from_date\" : \"\"\n  },\n  {\n    \"schema\" : \"dbo\",\n    \"table\" : \"DimArtist\",\n    \"cdc_col\" : \"updated_at\",\n    \"from_date\" : \"\"\n  },\n  {\n    \"schema\" : \"dbo\",\n    \"table\" : \"FactStream\",\n    \"cdc_col\" : \"stream_timestamp\",\n    \"from_date\" : \"\"\n  }\n]",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "cdc_lookup_copy1",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"dataset": {
									"referenceName": "Json_dataset",
									"type": "DatasetReference",
									"parameters": {
										"folde_name": {
											"value": "@concat('cdc','_',item()[0].table)",
											"type": "Expression"
										},
										"file_name": "cdc.json"
									}
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "sqldbtodatalake_copy1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "cdc_lookup_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@concat(\n    'SELECT * FROM ',\n    item()[0].schema,\n    '.',\n    item()[0].table,\n    ' WHERE ',\n    item()[0].cdc_col,\n    ' > ''',\n    if(\n        empty(pipeline().parameters.backfilled_date),\n        activity('cdc_lookup_copy1').output.value[0].cdc,\n        pipeline().parameters.backfilled_date\n    ),\n    ''''\n)",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "sqldb",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "Parquet_out",
									"type": "DatasetReference",
									"parameters": {
										"folder_name": {
											"value": "@item()[0].table",
											"type": "Expression"
										},
										"file_name": {
											"value": "@concat(item()[0].table,'_',activity('cdc_lookup_copy1').output.value[0].cdc)",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "If Condition",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "sqldbtodatalake_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greater(activity('sqldbtodatalake_copy1').output.rowsread, 0)",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Delete",
										"type": "Delete",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"dataset": {
												"referenceName": "Json_dataset",
												"type": "DatasetReference",
												"parameters": {
													"folde_name": {
														"value": "@item()[0].table",
														"type": "Expression"
													},
													"file_name": {
														"value": "@concat(item()[0].table,'_',activity('cdc_lookup_copy1').output.value[0].cdc)",
														"type": "Expression"
													}
												}
											},
											"logStorageSettings": {
												"linkedServiceName": {
													"referenceName": "adls_spotify_project",
													"type": "LinkedServiceReference"
												}
											},
											"enableLogging": true,
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											}
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "max_date_fetch_copy2",
										"type": "Script",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"linkedServiceName": {
											"referenceName": "sql_database",
											"type": "LinkedServiceReference"
										},
										"typeProperties": {
											"scripts": [
												{
													"type": "Query",
													"text": {
														"value": "select max(@{item()[0].cdc_col}) as cdc from DimUser",
														"type": "Expression"
													}
												}
											],
											"scriptBlockExecutionTimeout": "02:00:00"
										}
									},
									{
										"name": "changing_cdc_json_copy1",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "max_date_fetch_copy2",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "JsonSource",
												"additionalColumns": [
													{
														"name": "cdc",
														"value": {
															"value": "@activity('max_date_fetch_copy2').output.resultSets[0].rows[0].cdc",
															"type": "Expression"
														}
													}
												],
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "JsonReadSettings"
												}
											},
											"sink": {
												"type": "JsonSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "JsonWriteSettings"
												}
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "Json_dataset",
												"type": "DatasetReference",
												"parameters": {
													"folde_name": {
														"value": "@concat('cdc','_',item()[0].table)",
														"type": "Expression"
													},
													"file_name": "empty.json"
												}
											}
										],
										"outputs": [
											{
												"referenceName": "Json_dataset",
												"type": "DatasetReference",
												"parameters": {
													"folde_name": {
														"value": "@concat('cdc','_',item()[0].table)",
														"type": "Expression"
													},
													"file_name": "cdc.json"
												}
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"backfilled_date": {
				"type": "string"
			}
		},
		"annotations": []
	}
}